<p id="notice"><%= notice %></p>

<p>
  <b>Applicant:</b>
  <%= @interview.applicant.name %>
</p>

<p>
  <b>Mandate:</b>
  <%= @interview.mandate.name %>
</p>

<p>
  <b>Conducting date:</b>
  <%= @interview.conducting_date %>
</p>

<p>
  <b>Description:</b>
  <%= @interview.description %>
</p>


<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
