<h1>Listing applicants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Dob</th>
    <th>Qualification</th>
    <th>Experience</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.name %></td>
    <td><%= applicant.address %></td>
    <td><%= applicant.dob %></td>
    <td><%= applicant.qualification %></td>
    <td><%= applicant.experience %></td>
    <td><%= applicant.phone %></td>
    <td><%= applicant.email %></td>
    <td><%= link_to 'Show', applicant %></td>
    <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
    <td><%= link_to 'Destroy', applicant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Applicant', new_applicant_path %>
